img {
    width: 400px;
    height: 600px;
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
    animation: fade 15s;
}

main {
    display: block;
    text-align: center;
}

header {
    text-align: center;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}