@media screen and (min-width: 650px) {
    body {
        font-family: 'Roboto', sans-serif;
    }

    .navigation {
        display: flex;
        background-color: #0cbaff;
        color: #fff;
        align-items: center;

    }

    nav {
        display: flex;
        flex-direction: row;
    }

    nav a {
        display: flex;
    }

    #menu {
        display: none;
    }
}